!.vscode/launch.json.default
*.pem
*.tsbuildinfo
*tmp.db
.DS_Store
.env*
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnp.js
.pnpm-store
.pnpm-store/
.prisma
.vercel
.vscode
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
/pages/example.test.js
build
coverage
dist
dist/
libquery_engine*
node_modules
npm-debug.log*
pnpm-debug.log
query-engine*
sandbox
tmp
yarn-debug.log*
yarn-error.log
yarn-error.log*